/* Highlight Active Link */
#sidebar-multi-level-sidebar .sidebar-container ul li a.active {
  background-color: #1abc9c;
  font-weight: bold;
}

#sidebar-multi-level-sidebar .sidebar-container ul li a span{
  color: #9197B3;
}
